
<ion-content>
    <ion-grid class="authpage">
        <ion-row>
          <ion-col size="6" offset="3" text-center>
            <div class="C_logo">
              <img src="../../assets/icon/logo.png" alt="logo">
              <img src="../../assets/icon/authenticity_t.png" class="auth_text" alt="logo">
            </div>
          </ion-col>
          <ion-col class="bottom_btn" text-center size="12">
            <ion-row>
              <ion-col size="6" text-center>
                <button ion-button  routerLink="/login" routerDirection="forward">
                  <img src="../../assets/log_in_btn.png" alt="Login Button">
                </button>
              </ion-col>
              <ion-col size="6" text-center>
                <button ion-button  routerLink="/signup" routerDirection="back">
                  <img src="../../assets/sign_up_btn.png" alt="SignUp Button">
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
