.password_eye{
    margin-top: 32px;
    color: #fff;
    margin-right: -5px;
    // border-bottom: 1px solid white;
    
  }
  .auth_btn{
    width: fit-content;
    justify-content: center;
    img{
      max-width: 50% !important;
      width:50% !important;
     margin-top: 15vw;
    }
  }
  