.picture_back {
  background-image: url("../../assets/profile_back.png");
  height: 80vw;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -1px;
  justify-content: center;
  div {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 33%;
    margin-top: 10vw;
    border: 0.5vw solid #fff;
    img {
      // background-size: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
    }
  }
}
ion-item {
  --padding-start: none;
  border-bottom: 1px solid #7575;
  margin-bottom: 10vw;
  font-family: "open sans", sans-serif;
}
.name {
  text-transform: capitalize;
}
.textarea {
  padding: 2vw;
  border: 1px solid #7575;
}
.submit {
  ion-buttons {
    width: 100%;
    justify-content: center;
    background: transparent;
    outline: none;
    img {
      width: 50%;
    }
  }
}
.user_name {
  color: #fff;
  font-family: "open sans", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.camerabtn {
  padding: 0vw;
  border-radius: 50%;
  border: 1vw solid #fff;
  color: #191b1f;
  position: absolute;
  left: 58%;
  top: 41%;
  height: 9vw;
  background: #fff;
  width: 9vw;
  ion-icon {
    font-size: 8vw;
    color: #020f3b;
  }

}
